/* Base */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Botones */
.button + .button {
  margin-left: .5em;
}

/* Tablas */
table td .button + .button {
  margin-left: 0;
}

table td .button:last-child {
  margin-bottom: 0;
}

@media (min-width: 400px) {
  table td .button {
    margin-bottom: 0;
  }

  table td .button + .button {
    margin-left: .5em;
  }
}

/* Iconos */
svg {
  width: .8em !important;
  height: .8em !important;
}

/* Alineamiento */
.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}
